 .container{
    /* border: 1px solid #aaa; */
    /* height: fit-content; */
    /* width: fit-content; */
    /* margin-bottom: 0px; */
    /* padding: 30px; */
} *

.chat-div{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    height: fit-content;
    background-color: slategray;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

.chat-container{
    border: 1px solid #555;
    border-radius: 5px;
    /* padding: 5px; */
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.chat-view{
    flex: 1;
    border: 1px solid #555;
    border-radius: 5px;
    height: 170px;
    background-color: ivory;
    overflow: auto;
    scrollbar-width: unset;
    /* overflow-y: scroll; */
    /* display: flex; */
    /* flex-direction: column; */
}
hr{
    color: #888;
    border-color: #888;
    background-color: #888;
}
.text-input-container{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 0px;
}


.text-input-container input{
    padding: 4px;
    border-radius: 5px;
    background-color: ivory;
    width: 200px;
}